$primary-font: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-font: 'Bitter', serif;

$base-font-size: 16px;
$base-line-height: 1.6rem;

$h1_font_size: 2.5rem;
$h2_font_size: 2rem;
$h3_font_size: 1.375rem;
$h4_font_size: 1.375rem;
$h5_font_size: 1.25rem;
$h6_font_size: 0.825rem;

$h1_margin: 4;
$h2_margin: 0 0 0.75rem;
$h3_margin: 0 0 0.75rem;
$h4_margin: 0 0 0.5rem;
$h5_margin: 0 0 0.5rem;
$h6_margin: 0;

$h1_padding: 0;
$h2_padding: 0;
$h3_padding: 0;
$h4_padding: 0;
$h5_padding: 0;
$h6_padding: 0;